<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="./Public/Admin/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="./Public/Admin/css/main.css"/>
    <script type="text/javascript" src="./Public/Admin/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="../../../web/home/js/jquery1.42.min.js"></script>
    <script>
        $(function () {
            $("#nowtime").css({ color: 'red'});
            window.setInterval('ShowTime()', 1000);
        });
        function ShowTime() {
            var t = new Date();
            var str = t.getFullYear() + '年';
            str += t.getMonth() + '月';
            str += t.getDate() + '日 ';
            str += t.getHours() + ':';
            str += t.getMinutes() + ':';
            str += t.getSeconds() + '';
            $("#nowtime").html(str);
        }
    </script>
</head>
<body>

{include file = 'top.html'}

<div class="container clearfix">

    <!--左侧菜单栏-->

    <!--左侧菜单栏 begin-->
    {include file = 'left.html'}
    <!--左侧菜单栏 begin-->

    <!--右侧主操作区-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="?p=back">首页</a>
                <span class="crumb-step">&gt;</span>
                <span class="crumb-name">分类管理</span>
            </div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="" method="">
                    <input type="hidden" name="m" value="Admin">
                    <input type="hidden" name="c" value="Article">
                    <input type="hidden" name="a" value="showBlog">
                    <table class="search-tab">
                        <tr>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="" type="text"></td>
                            <td><input class="btn btn-primary btn2" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <a href="?m=Admin&c=Article&a=add"><i class="icon-font"></i>添加文章</a>
                    <a id="quanxuan" href="javascript:void(0)">全选</a>
                    <a id="fanxuan" href="javascript:void(0)">反选</a>
                    <a id="quxiao" href="javascript:void(0)">取消</a>
                    <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                </div>
            </div>
            <div class="result-content">

                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%">
                                <input class="allChoose" name="" type="checkbox">
                            </th>
                            <th>标题</th>
                            <th>分类</th>
                            <th>点击数</th>
                            <th>作者</th>
                            <th>发布时间</th>
                        </tr>
                        {foreach $data as $val}
                        <tr>
                            <td class="tc">
                                <input name="id[]" value="{$val.id}" type="checkbox">
                                {$val.id}
                            </td>
                            <td>{$val.title}</td>
                            <td>{$val.name}</td>
                            <td>{$val.hits}</td>
                            <td>{$val.author}</td>
                            <td>{$val.ptime}</td>
                            <td>
                                <a class="link-update" href="?p=back&c=Blog&a=Edit&id=8">修改</a>
                                <a class="link-del" href="?p=back&c=Blog&a=Delete&id=8">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                    </table>

                <div class="list-page"> 2 条 1/1 页</div>
            </div>
        </form>
        </div>

    </div>
    <!--/右侧主操作区-->
</div>
<script>
    var fm= document.getElementById('myform');

    /*************全选*************/
    var quanxuan = document.getElementById('quanxuan');
    quanxuan.onclick = function () {
        var inputs = fm.getElementsByTagName('input');
        for(var i= 0;i<inputs.length;i++){
            inputs[i].checked = true;
        }
    };

    var fanxuan = document.getElementById('fanxuan');
    fanxuan.onclick = function () {
        var inputs = fm.getElementsByTagName('input');
    for(var i = 0;i<inputs.length;i++){
        inputs[i].checked = !inputs[i].checked;
    }
    };

    var quxiao = document.getElementById('quxiao');
    quxiao.onclick = function () {
        var inputs = fm.getElementsByTagName('input');
        for(var i = 0;i<inputs.length;i++){
            inputs[i].checked = false;
        }
    };
</script>

</body>
</html>